@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Azul-TB: #3f7de8;
  --Branco: #fff;
  --background-color: rgb(249, 249, 245);
}

html,
body {
  font-family: 'Nunito', sans-serif;
}

body {
  height: 100vh;
  background-color: var(--background-color);
}


.livechat {
  background-color: var(--Branco);
  position: absolute;
  right: 3em;
  bottom: 8.9em;
  width: 75%;
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 0 -1px 12px 0 rgb(0 0 0 / 20%);
  clip-path: circle(0% at 100% 100%);
  height: 500px;
}

.livechat .header {
  background-color: var(--Azul-TB);
  padding: 0.45em;
  display: flex;
  color: var(--Branco);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.livechat .header .container-header-img {
  width: 35px;
  height: 35px;
  margin-left: 0.5em;
  margin-right: 1rem;
  border-radius: 100%;
}

.livechat .header .container-header-img img {
  width: 100%;
  border-radius: 100%;
}

.container .container-bubble {
  background-color: var(--Azul-TB);
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 3.3em;
  right: 3em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-bubble .bubble {
  width: 100%;
  cursor: pointer;
}

h4 {
  font-weight: 500;
  font-size: 17px;
}

.txt-container p {
  font-size: 11px;
}

.chat::-webkit-scrollbar {
  width: 10px;
}
.chat::-webkit-scrollbar-track {
  background: var(--background-color);
}

.chat::-webkit-scrollbar-thumb {
  background-color: rgb(175, 174, 173);
  border-radius: 20px;
  border: 1px solid var(--background-color);
}

.content .chat {
  padding: 13px 40px 10px 50px;
  height: 410px;
  overflow-y: scroll;
  background-color: var(--background-color);
  box-shadow: inset 0px -4px 8px rgb(0 0 0 / 10%);
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.pai-mensagem-bot {
  display: flex;
  align-items: flex-end;
}
.chat img {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 0 9px 25px 0;
}

.mensagem-bot {
  width: 286px;
  background-color: var(--Branco);
  box-shadow: 0 -1px 12px 0 rgb(0 0 0 / 10%);
  border-radius: 13px 13px 13px 2px;
  margin: 4px 0px;
}

.mensagem-bot2{
  border-top-left-radius: 2px;
}

.m-espacamento {
  margin-bottom: 4px;
}

.mensagem {
  padding: 8px 15px;
  border: 1px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
}

.mensagem span{
  color: blue;
}

.mensagem-list p {
  text-align: center;
}

.mensagem-list a {
  text-decoration: none;
  color: var(--Azul-TB);
}

.mensagem-list hr {
  margin: 10px -12px;
  border: none;
  height: 1px;
  color: rgba(0, 0, 0, 0.06);
  background-color: rgba(0, 0, 0, 0.08);
}

.hora-bot {
  margin: 4px 0px;
  margin-right: 260px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.4);
}

.mensagem-person {
  width: 47px;
  height: 40px;
  box-shadow: 0 -1px 12px 0 rgb(0 0 0 / 10%);
  border-radius: 13px 13px 2px 13px;
  background-color: var(--Azul-TB);
  color: var(--Branco);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hora-person {
  margin: 4px 0px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-end;
}

.mensagem-p {
  border: 1px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  margin: 2px;
}

.send-container {
  display: grid;
  grid-template-columns: 89% auto;
  box-shadow: 0 -1px 12px 0 rgb(0 0 0 / 20%),
  height: 57px;
  background-color: #fff;
  border-radius: 5px;
}

.send-container input[type='text'] {
  padding: 1em;
  border: 1px;
  border-bottom-left-radius: 5px;
}

.send-container input[type='text'] textarea:focus,
input:focus,
select:focus {
  outline: 0;
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.06);
}

.send-container .clip-container {
  border: 1px;
  height: 100%;
  background-color: var(--Branco);
  border-bottom-right-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
}

.send-container .clip-container a img {
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin: 10px 0px 0px 8px;
}

.clip-remove {
  display: none;
}

.send-container .enviar-container {
  background-color: var(--Azul-TB);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 10px 3px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enviar-container img {
  width: 20.8px;
  height: 21.8px;
  margin-top: 5px;
  margin-left: 2px;
}

.send-container .enviar-hide {
  display: none;
}

.animate-chat {
  animation: grow-circle 0.3s forwards ease-out;
}

@keyframes grow-circle {
  from {
    clip-path: circle(0% at 100% 100%);
  }
  to {
    clip-path: circle(100% at 50% 50%);
  }
}

.container-bubble p {
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  user-select: none;
}
.container-bubble .chat-fechado {
  display: none;
}

.sumir-balao {
  display: none;
}
